<div class="splash-container" [@fadeOut]="isExiting">
  <div class="splash-card">
    <img src="assets/logos/skillmuni-login-logo.png" alt="Skillmuni Logo" class="splash-logo" />

    <div class="welcome-text">
      <h3>Welcome to your hiring dashboard</h3>
      <p>
        — let’s kick off your
        <span class="highlight-container">
          <span class="highlight">recruitment journey.</span>
          <img src="assets/icons/long-arrow.png" alt="arrow" class="arrow-image" />
        </span>
      </p>
    </div>
  </div>
</div>
